body{
    margin:0;
}
a{
    color:black;
    text-decoration: none;
}
h1{
    font-size:45px;
    text-align:center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
    background-color:rgb(252, 234, 255);
    font-style:italic;
}
#grid{
    display:grid;
    grid-template-columns: 150px 1fr;
    min-height:100vh;
}
#grid ol{
    border-right:1px solid gray;
    width:100px;
    margin:0;
    padding:20px;
    padding-left:33px;
    background-color:rgb(230, 248, 255);
    line-height:1.6;
}
#grid #article{
    padding-left:25px;
    /* background-color:rgb(255, 251, 218); */
}
#title{
    color:rgb(136, 41, 225)
}
@media(max-width :720px){
    #grid{
        display:block;
    }
    #grid ol{
        border-right:none;
        width:auto;
    }
    h1{
        border-bottom:none;
    }
}